<div ng-controller="CheckboxCtrl as vm">
  <div layout="row"
       layout-align="space-around center"
       layout-padding>

    <md-whiteframe class="md-whiteframe-10dp"
                   flex="33">
      <md-checkbox ng-model="vm.data.cb1"
                   ng-true-value="'yes'"
                   ng-false-value="'no'"
                   ng-init="vm.data.cb1='yes'">
        Checkbox 1: {{vm.data.cb1}}
      </md-checkbox>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-10dp"
                   flex="33">
      <md-checkbox ng-checked="vm.getIndex(item) > -1"
                   ng-click="vm.toggle(item)"
                   ng-repeat="item in vm.colors">
        {{item.name}}
        <span ng-if="vm.exists(item)">selected</span>
      </md-checkbox>
    </md-whiteframe>

  </div>
  <pre>{{vm | json}}</pre>
</div>