<md-toolbar class="md-menu-toolbar">
  <div layout="row">
    <md-toolbar-filler layout
                       layout-align="center center">
      <md-icon class="mdi mdi-account mdi-24px"></md-icon>
    </md-toolbar-filler>

    <div flex>
      <md-menu-bar>

        <md-menu style="z-index: 100;">
          <md-button ng-click="$mdOpenMenu()">
            Directives
          </md-button>
          <md-menu-content>

            <md-menu-item>
              <md-menu style="z-index: 100;">
                <md-button ng-click="$mdOpenMenu()" >
                  Custom Directives
                </md-button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click="index.go('angularJS.timeFormatter')">
                      timeFormatter
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-menu-item>

            <md-menu-item>
              <md-menu>
                <md-button ng-click="$mdOpenMenu()">
                  Angular Directives
                </md-button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click="index.go('angularJS.ng-class')">
                      ng-class
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="index.go('angularJS.ng-show-hide')">
                      ng-show ng-hide
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-menu-item>

          </md-menu-content>
        </md-menu>


        <md-menu>
          <md-button ng-click="$mdOpenMenu()">
            Local storage
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="index.go('angularJS.localJson')">
                manually
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu>
          <md-button ng-click="$mdOpenMenu()">
            Navigation
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="index.go('angularJS.activeTab')">
                activeTab
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu>
          <md-button ng-click="$mdOpenMenu()">
            Validation
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="index.go('angularJS.formValidation')">
                form validation
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>

      </md-menu-bar>
    </div>
  </div>
</md-toolbar>
<div>
  <ui-view></ui-view>
</div>